*{
  background-color: rgb(200, 246, 246);
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
  }
  
  .container {
    margin: 20px;
  }
  
  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .header {
    display: flex;
    justify-content: right;
    align-items: center;
    background-image: url(header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    flex: 2;
    margin: 10px;
    max-width: 740px;
    height: 300px;
    width: 730px;
    margin: 10px;
    border-radius: 0px 0px 30px 0px;
    box-shadow: 0 0 5px rgba(10, 10, 10, 10);
  }
  .header h1{
    position: absolute;
    background: none;
    bottom: 40px;
    right: 20px;
    margin: 0;
  }
  .header h4{
    position: absolute;
    background: none;
    bottom: 20px;
    right: 20px;
    margin: 0;
  }
  .vsms{
    color: white;
    background: none;
  }
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    color: white;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 740px;
    height: 40px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  }
  .vsms a{
    overflow: hidden;
    text-decoration: none;
    background: none;
  }
  .navigation .vsms:hover{
    background-color: aqua;
    text-align: center;
  }
  b{
    color: #ffffff;
    background: none;
  }
  .sidebar {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background: #ffffff;
    position: relative;
    flex: 2;
    margin: 10px;
    max-width: 230px;
    height: 390px;
    margin: 10px;
    border-radius: 30px 0px 0px 0px;
    box-shadow: 0 0 5px rgba(10, 10, 10, 10);
    z-index: 10;
  }
  h3{
    background: none;
    z-index: 1;
  }
  .artikel {
    margin: 10px;
    margin-left: -50;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    width: 230px;
    height: 60px;
    font-size: medium;
    text-align: center;
    z-index: 1;
  }
  .tengah {
    text-align: center;
    background: none;
    z-index: 1;
  }
  .container {
    text-align: left;
    background: none;
  }
  #foto {
    width: 120px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
    background: none;
  }
  p {
    background: none;
    line-height: 1;
    color: black;
    margin-left: 20px;
  }
  .logo {
    text-align: center;
  }
  
  .content {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    background: #ffffff;
    position: relative;
    flex: 2;
    margin: 10px;
    /* max-width: 740px; */
    height: 2800px;
    width: 730px;
    border-radius: 10px solid;
    box-shadow: 0 0 5px rgba(10, 10, 10, 10);
  }
  li{
    background: none;
    
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 980px;
    height: 100px;
    margin: 10px;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  }